<%= form_for :dump, :url => {:action => "import_csv"}, :html => {:multipart => true} do |f| %>

     <table>

       <tr>
         <td>
           <%= label_tag  "dump_file", "Seleccione CSV" %>
           </td>
         <td>
           <%= f.file_field :file %>
         </td>
       </tr>
       <tr>
         <td>
           <%= submit_tag 'Subir' %>
         </td>
       </tr>

     </table>


<% end %>
